div{
    text-align: center;
}
a{
    color: red;
}

#invented{
    background-color: seagreen;
    text-align: center;
    color: white;
}

#invente{
    background-color: seagreen;
    text-align: center;
    color: white;
}


h2{
    background-color: seagreen;
    text-align: center;
    color: white;
}
